body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    cursor: pointer;
    width: 160px;
    margin-top: -70px;
    margin-left: -85px;
}
.cart {
    width: 56px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-top: 70px;
    margin-right: 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.cart {
    width: 35px;
    height: 35px;
}
.content {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    cursor: unset;
}
.content h1 {
    font-size: 70px;
    margin-top: 360px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn1, .btn2 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #fff;
    height: 100%;
    width: 0;
    position: absolute;
    color: #000;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
.btn1:hover, .btn2:hover {
    color: #000;
}
.content-terms h1 {
    font-size: 35px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
      
.content-terms p {
    font-size: 15px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px;

}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
    background: #000;
}

/* Style the scrollbar corner (between vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
    background: #000;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 450px;
    overflow: hidden;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #000;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%),;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000;
    line-height: 57px;
}

.remember-forgot{
    font-size: .8em;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-login{
    width: 100%;
    height: 45px;
    padding: 15px 0;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}

.btn-login:hover{
   background: #000;
   color: #fff;
}

.login-label{
    font-size: medium;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background-color: #fff;
}


input[type="checkbox"]:checked {
    background-color: #00ff00;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-register p a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.remember-forgot label input {
   accent-color: black;
}

.remember-forgot a{
    color: #000;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Style for the footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2px 0;
}


/* Style for the footer content */
.footer-content {
    max-width: 960px; /* Adjust to your preferred width */
    margin: 0 auto;
}

/* Style for the footer text */
.footer-content p {
    font-size: 16px;
    font-family: monospace;
    font-weight: 70px;
}
